*{
   margin: 0;
   padding: 0; 
}
body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
}
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}

ul {
    display: flex;
    gap: 1em;
}

li {
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;

}
.search-bar {
    display: block;
    width: 80%;
    height: 2rem;
    margin: 2em auto;
    padding: 1em;
    border-radius: 6px;

}
.banner {
    width: 100%;
    text-align: center;
}

.product-container {
    margin-top: 5%;
   display: flex;
   justify-content: space-around;
}

.product-card {
   font-weight: bold;
   text-align: center;
   cursor: pointer;

}
.product-card img {
    height: 20vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-card button {

    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    border: none;
}
.product-card button:hover {
    background-color: green;
}
.about {
    margin-top: 15vh;
    padding: 3rem;
    text-align: center;
}
.about p {
    margin-top: 2vh;
    font-size: 18px;
}
.footer {

text-align: center;
padding: 2%;
background-color: aquamarine;
}

.footer h3 {
    margin-top: 1em;
}

.footer p {
   
    color: rgb(73, 65, 65)
}

.footer h6 {
    margin-top: 3em;
}